h1 {
    font-size: 35px;
}
h2 {
    font-size: 50px;
}
div.blueBox{
    background-color: blue;
    width: 100px;
    height: 100px;
    align-self: left;

}
div.orangeLine{
    background-color: orangered;
    width: 100px;
    height: 10px;
    align-self: left;

}
p {
    width: 100px;
    height: 150px;
    align-content: left;
}